body {
    
    background-color: black;
    color: white;
    
  }
  
  .light-mode {
    background-color: white;
    color: black;
  }
 
  

  img {
    max-width: 100%;
    height: auto;
  }

  audio {

    width: 390px;
     
    
   }

   .highlight {
    background-color: yellow;
    color: black; /* Black text color for visibility */
}


